:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .header {
    flex: 0 0 auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    overflow: hidden;
  }

  .footer {
    margin-top: auto;
    flex: 0 0 auto;
  }
}