@import '../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  flex-grow: 1;
  overflow: auto;

  .error-message {
    font-size: $text-size-sm;
    margin-bottom: 15px;
    color: $color-danger;
  }

  .message {
    padding: 0 16px;

    &.-title {
      font-size: $text-size-xxl;
      font-weight: 700;
      margin-bottom: 20px;
      color: $color-primary;
    }

    &.-subtitle {
      margin-bottom: 15px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 400px;
    padding: 32px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    border-radius: 4px;

    &.-error {
      box-shadow: 0 4px 10px transparentize($color-danger, .75);
    }
  }

  .button {
    margin-top: 20px;
  }

  .-pointer {
    cursor: pointer;
  }

  .signup-message {
    font-size: $text-size-sm;
    color: transparentize($base-text-color, 0.5);

    span {
      color: $color-primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}