@import '../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: auto;

  .title {
    font-size: 150px;
    font-weight: 700;
    letter-spacing: 10px;
    color: $color-primary;
  }

  .subtitle {
    font-size: $text-size-lg;
    font-weight: 500;
    color: $color-primary;
  }
}