<form [formGroup]="form"
      class="form"
      [class.-error]="invalidSubmitMessage$ | async">
    <div class="error-message" *ngIf="invalidSubmitMessage$ | async as message">
        {{ message }}
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
               formControlName="name">
        <mat-error *ngIf="form.controls.name.invalid">
            Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input type="text"
               matInput
               formControlName="city"
               (focus)="onFocus()"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event.option.value)">
            <mat-option *ngFor="let option of options$ | async"
                        [value]="option">
                {{ option.zoneName }} {{ option.gmtOffset | offset:'UTC' }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button class="button"
            [disabled]="disabledButton$ | async"
            mat-raised-button
            color="primary"
            (click)="submit()">
        Save
    </button>
</form>

