@import '../../styles/variables';

:host {

  .error-message {
    font-size: $text-size-sm;
    margin-bottom: 15px;
    color: $color-danger;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .button {
    margin-top: 20px;
  }

  .-pointer {
    cursor: pointer;
  }

  .signup-message {
    font-size: $text-size-sm;
    color: transparentize($base-text-color, 0.5);

    span {
      color: $color-primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
