<form [formGroup]="form"
      class="form"
      [class.-error]="invalidSubmitMessage$ | async">
    <div class="error-message" *ngIf="invalidSubmitMessage$ | async as message">
        {{ message }}
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
               formControlName="name">
        <mat-error *ngIf="form.controls.name.invalid">
            Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email">
        <mat-error *ngIf="form.controls.email.invalid">
            Email is invalid or missing
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="isSuperUser">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option *ngFor="let option of options" [value]="option.key">
                {{ option.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               [type]="passwordVisible ? 'text' : 'password'"
               formControlName="password">
        <mat-icon class="-pointer" matSuffix (click)="passwordVisible = !passwordVisible">
            {{ passwordVisible ? 'visibility_off' : 'visibility' }}
        </mat-icon>
    </mat-form-field>

    <button class="button"
            [disabled]="disabledButton$ | async"
            mat-raised-button
            color="primary"
            (click)="submit()">
        Save
    </button>
</form>

