@import '../../styles/variables';

:host {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 32px;
  flex-grow: 1;
  overflow: auto;

  .search {
    grid-column: span 4;

    &-box {
      width: 400px;
    }

    &-clear {
      cursor: pointer;
    }
  }

  .zone {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    height: 200px;
    overflow: hidden;
    outline: none;
    padding: 16px 0;
    color: $color-primary;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .35);
    transition: box-shadow .15s;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 1px solid $color-primary;
      border-radius: 8px;
      opacity: 0;
      transition: opacity .15s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .zone-actions {
        display: flex;
      }
    }

    &.-foreign {
      background-color: #f0f0f0;
    }

    &-author {
      margin-bottom: 5px;
      padding: 0 16px;
      font-size: $text-size-sm;
    }

    &-title {
      max-height: 100px;
      overflow: hidden;
      padding: 0 16px;
      margin-bottom: 16px;
      font-size: $text-size-xl;
      grid-column: span 2;

    }

    &-desc {
      align-self: end;
      padding: 16px 16px 0;
      font-size: $text-size-sm;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      border-top: 1px solid $color-primary;
    }

    &-actions {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
    }
  }

  .zone-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    background-color: $color-primary;
    color: $base-text-color-light;
    transition: all 0.15s;
    cursor: pointer;


    &:hover {
      background-color: darken($color-primary, 5%);
      box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }

    &Title {
      margin-right: 16px;
      font-size: $text-size-lg;
      line-height: 1;
    }

    &Icon {
      width: $text-size-xxl;
      height: $text-size-xxl;
      font-size: $text-size-xxl;
      line-height: 1;
    }
  }
}