<div class="search">
    <mat-form-field class="search-box" appearance="outline">
        <mat-label>Search zones</mat-label>
        <input matInput
               placeholder="Start typing zone name..."
               [value]="query$ | async"
               (input)="query$.next($event.target.value)">
        <mat-icon class="search-clear"
                  matSuffix
                  (click)="$event.stopPropagation(); query$.next('')">clear</mat-icon>
    </mat-form-field>
</div>

<div class="zone"
     [class.-foreign]="zone.author !== id"
     *ngFor="let zone of zones$ | async"
     [routerLink]="'/zones/' + zone._id">
    <div class="zone-author" *ngIf="isAdmin">Author ID: {{ zone.author }}</div>
    <div class="zone-title">{{ zone.name }}</div>
    <div class="zone-desc">{{ zone.city }}</div>
    <div class="zone-desc">{{ zone.offset | offset:'UTC' }}</div>

    <div class="zone-actions">
        <button mat-icon-button
                color="primary"
                (click)="$event.stopPropagation(); edit(zone)">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button
                color="warn"
                (click)="$event.stopPropagation(); delete(zone._id)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<div class="zone-add" (click)="openAddDialog()">
    <div class="zone-addTitle">Add new Zone</div>
    <mat-icon class="zone-addIcon">add_circle_outline</mat-icon>
</div>
