$base-text-size: 16px;

$text-size-sm: 0.75 * $base-text-size;
$text-size-md: $base-text-size;
$text-size-lg: 1.333 * $base-text-size;
$text-size-xl: 1.777 * $base-text-size;
$text-size-xxl: 2.369 * $base-text-size;
$text-size-xxxl: 3.157 * $base-text-size;
$text-size-xxxxl: 4.209 * $base-text-size;