<div class="header-logo">T-Zone</div>
<div class="header-nav">
    <ng-template [ngIf]="isAuthorized" [ngIfElse]="loginNav">
        <div *ngIf="canManageZones" class="header-navLink" routerLink="zones" routerLinkActive="-active">
            Zones
        </div>
        <div *ngIf="canManageUsers" class="header-navLink" routerLink="users" routerLinkActive="-active">
            Users
        </div>
<!--        <div class="header-navLink" routerLink="profile" routerLinkActive="-active">-->
<!--            Profile-->
<!--        </div>-->
        <div class="header-navLink" (click)="logout()">
            Logout
        </div>
    </ng-template>

    <ng-template #loginNav>
        <div class="header-navLink" routerLink="login" routerLinkActive="-active">
            Login
        </div>
        <div class="header-navLink" routerLink="signup" routerLinkActive="-active">
            Signup
        </div>
    </ng-template>
</div>