@import '../../styles/variables';

:host {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: $color-primary;
  color: $base-text-color-light;

  .header {
    &-logo {
      font-size: $text-size-lg;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &-nav {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &-navLink {
      padding: 8px 16px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      cursor: pointer;
      outline: none;

      &.-active {
        border-bottom: 2px solid currentColor;
        cursor: pointer;
        pointer-events: none;
      }
    }
  }
}