@import '../../styles/variables';

:host {
  padding: 16px 32px 32px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;

  .back-button {
    margin-bottom: 15px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    outline: none;
    color: $color-primary;
    cursor: pointer;

    .mat-icon {
      margin-right: 10px;
    }
  }

  .zone {
    flex: 0 0 auto;
    margin-bottom: 50px;

    &-title {
      margin-bottom: 10px;
      font-size: $text-size-xxxl;
      line-height: 1.33;
      font-weight: 700;
    }

    &-subtitle {
      font-weight: 500;
    }
  }

  .time {
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 200px;
    color: $color-primary;
  }
}