<div class="back-button" [routerLink]="['../']">
    <mat-icon>arrow_back</mat-icon>
    Back to zones
</div>

<div class="zone" *ngIf="zone$ | async as zone">
    <div class="zone-title">{{ zone.name }}</div>
    <div class="zone-subtitle">{{ zone.city }} / Browser time {{ diff | offset }}</div>
</div>

<div class="time">{{ time$ | async | date:'HH:mm:ss' }}</div>

