<div class="message -title">Welcome to T-Zone</div>
<div class="message -subtitle">Sing up to manage zones</div>

<form class="form"
      [class.-error]="invalidSubmitMessage$ | async"
      [formGroup]="signupForm">
    <div class="error-message" *ngIf="invalidSubmitMessage$ | async as message">
        {{ message }}
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
               placeholder="John Doe"
               formControlName="name">
        <mat-error *ngIf="signupForm.controls.name.invalid">
            Name is required
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               placeholder="example@mail.com" formControlName="email">
        <mat-error *ngIf="signupForm.controls.email.hasError('email')">
            Invalid email
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               [type]="passwordVisible ? 'text' : 'password'"
               formControlName="password">
        <mat-icon class="-pointer" matSuffix (click)="passwordVisible = !passwordVisible">
            {{ passwordVisible ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="signupForm.controls.password.invalid">
            Password must contain at least one digit, one capital letter
        </mat-error>
    </mat-form-field>

    <button class="button"
            [disabled]="signupForm.invalid"
            mat-raised-button
            color="primary"
            (click)="submit()">
        Sign up
    </button>
</form>

<div class="signup-message">
    Have an account? Please, <span routerLink="../login">login</span>
</div>