<button class="create-button"
        mat-raised-button
        color="primary" (click)="addUser()">
    Add User
</button>

<div class="header">
    <div class="title">Name</div>
    <div class="title">Email</div>
    <div class="title">Role</div>
    <div class="title">Actions</div>
</div>

<div class="users">
    <div class="user" *ngFor="let user of users$ | async">
        <div class="user-data">{{ user.name }}</div>
        <div class="user-data">{{ user.email }}</div>
        <div class="user-data">{{ rolesMap[user.role] }}</div>
        <div class="user-data -flex">
            <button mat-icon-button
                    color="primary"
                    [disabled]="user._id !== id && user.role !== 'regular' && !isSuperUser"
                    (click)="editUser(user)">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button
                    [disabled]="user._id === id || (user.role !== 'regular' && !isSuperUser)"
                    color="warn"
                    (click)="deleteUser(user._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>

