@import '../../styles/variables';

$grid-columns: 1fr 1fr 200px 150px;

:host {
  display: flex;
  flex-direction: column;
  padding: 32px;
  flex-grow: 1;
  overflow: hidden;

  .create-button {
    align-self: flex-end;
    margin-bottom: 30px;
  }

  .header {
    display: grid;
    grid-template-columns: $grid-columns;
  }

  .title {
    padding: 16px;
    border-bottom: 2px solid transparentize($base-text-color, .85);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: transparentize($base-text-color, .3);

    & + .title {
      border-left: 2px solid transparentize($base-text-color, .85);
    }
  }

  .users {
    height: 100%;
    overflow: auto;
  }

  .user {
    display: grid;
    grid-template-columns: $grid-columns;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid transparentize($base-text-color, .85);

    &-data {
      padding: 0 16px;

      &.-flex {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}